{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ user.username }}</p>
    <p>{{ user.email }}</p>
    <a href="{{ path("fos_user_security_logout") }}" class="btn btn-danger btnLogout">Deconnexion</a>
</div>

<div class="container listGame">
	<a href="" class="btn btn-primary ">Nouvelle partie</a>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					Personnage
				</th>
				<th>
					Niveau
				</th>
				<th>
					Stats
				</th>
			</tr>
		</thead>
		<tr>
			<td><img src="{{ asset('bundles/zeldohapp/images/Link.png') }}"></td>
			<td>10</td>
			<td class="stats">
				<p>HP : 120</p>
				<p>Force : 100</p>
				<p>Armure : 80</p>
				<p>Agilité : 60</p>
				<p>Intéligence : 0</p>
			</td>
		</tr>
		<tr>
			<td><img src="{{ asset('bundles/zeldohapp/images/Sheik.png') }}"></td>
			<td>5</td>
			<td class="stats">
				<p>HP : 70</p>
				<p>Force : 50</p>
				<p>Armure : 20</p>
				<p>Agilité : 65</p>
				<p>Intéligence : 0</p>
			</td>
		</tr>
		<tr>
			<td><img src="{{ asset('bundles/zeldohapp/images/Valga.png') }}"></td>
			<td>27</td>
			<td class="stats">
				<p>HP : 350</p>
				<p>Force : 210</p>
				<p>Armure : 178</p>
				<p>Agilité : 30</p>
				<p>Intéligence : 0</p>
			</td>
		</tr>
		<tr>
			<td><img src="{{ asset('bundles/zeldohapp/images/Zelda.png') }}"></td>
			<td>18</td>
			<td class="stats">
				<p>HP : 60</p>
				<p>Force : 30</p>
				<p>Armure : 20</p>
				<p>Agilité : 50</p>
				<p>Intéligence : 80</p>
			</td>
		</tr>
	</table>
</div>