<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Zeldoh{% endblock %}</title>
        <script>var bundlesBaseDir = "{{ asset('bundles/') }}"</script>
        {% block stylesheets %}{% endblock %}
        {% block head_script %}
            {% javascripts injector="head" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock head_script %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block head_style %}
            {% stylesheets filter='cssrewrite' injector="head" %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock head_style %}
    </head>
    <body>
        {% block header %}
            <div class="logoContainer">
                <img class="logo" src=" {{ asset('bundles/zeldohapp/images/logo.png') }}" alt="Zeldoh">
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts injector="foot" %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
