{% extends "::base.html.twig" %}
{% block body %}
    <ul class="map">
        {% set maxX = 0 %}
        {% set maxY = 0 %}
        {% for areaLine in map.areaLines %}
            {% set areaRow = loop.index0 %}
            <li class="areaLine">
                <ul class="areas">
                    {% for area in areaLine.areas %}
                        {% set areaColumn = loop.index0 %}
                        <li class="area">
                            <ul class="coordinateLines">
                                {% for coordinateLine in area.coordinateLines %}
                                    {% set coordinateRow = loop.index0 %}
                                    <li class="coordinateLine">
                                        <ul class="coordinates">
                                            {% for coordinate in coordinateLine.coordinates %}
                                                {% set coordinateColumn = loop.index0 %}
                                                {{ displayGround(coordinate.ground, {
                                                    'areaRow' : areaRow,
                                                    'areaColumn' : areaColumn,
                                                    'coordinateRow' : coordinateRow,
                                                    'coordinateColumn' : coordinateColumn
                                                }) }}
                                                {% set maxX = areaRow* 16 + coordinateRow %}
                                                {% set maxY = areaColumn* 16 + coordinateColumn %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <script>
        $(document).ready(function(){
            var data = {
                'map' : {{ map|serialize|raw }},
                'player' : {{ player|serialize|raw }}
            };
            var game = new Game(data);
            game.setMaxX({{ maxY }});
            game.setMaxY({{ maxX }});
            game.start();
        })
    </script>
{% endblock %}
